@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'styles';


body {
  background-color: white;
  color: #2767AD;
  font-family: 'Quicksand', sans-serif;}

.div {
  display: inline-block;
}

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow-x: hidden;
}

.fullPage {
  display: flex;
  flex-direction: row;
  border: 3px blue;
}

div.projects {
  border: 2px blue;
  border: solid;
}

img {
  align-items: center;
  margin: 10px;
  padding: 10px;
}
h2 {
  text-align: center;
  justify-content: center;
}

h3 {
  text-align: center;
  justify-content: center;
}


.nav-item  {
  float: left;
} 

.fa-github,
.fa-arrow-left {
  color: black;
  transition: ease-in-out 200ms;

  font-size: 2.8em;

  padding: 10px;
  margin-left: 20px;
  margin-top: 25px;
}

.fa-github:hover,
.fa-instagram:hover,
.fa-arrow-left:hover {
  cursor: pointer;
  
  color: #000;
}
